<html>
<head>
    <title>Encode File</title>
</head>
<body>

    <h1>Encode a File into an Image</h1>

    <form id="encodeForm" method="POST" enctype="multipart/form-data">

        <label for="img_file">Select Image :</label>
        <input type="file" id="img_file" name="img_file" accept="image/*" required><br><br>

        <label for="zip_file">Select Zip File :</label>
        <input type="file" id="zip_file" name="zip_file" required><br><br>

        <label for="password">Password :</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit" onclick="handleEncode(event)">Encode</button>

    </form>

    <br>
    <!-- <a id="download-link" href="#" style="display:none;" download="#"><button>Download Image</button></a> -->
    <a id="download-link" href="#" style="display:none; width: fit-content;" download="#"><button>Download Image</button></a>


    <script>
            async function handleEncode(event)
            {
                event.preventDefault();

                try
                {

                    var formData = new FormData(document.getElementById('encodeForm'));

                    let response = await fetch('/encodefile',
                    {
                        method: 'POST',
                        body: formData

                    });

                    if (!response.ok)
                    {
                        throw new Error('Network response was not ok');
                    }

                    let blob = await response.blob();
                    var url = URL.createObjectURL(blob);

                    var downloadLink = document.getElementById('downloadLink');

                    document.getElementById('download-link').style.display = 'block';
                    document.getElementById('download-link').href = url;


                    var fileInput = document.getElementById('img_file');
                    var file = fileInput.files[0];
                    document.getElementById('download-link').download = file.name;

                }
                catch (error)
                {
                    console.error('Error:', error);
                }
            }

    </script>

</body>
</html>
