<html>

<head>
    <title>Encode</title>
</head>

<body>
    <h1>Upload an Image and File</h1><br>

    <form id="upload-form" enctype="multipart/form-data">
        <input type="file" id="image" name="image" accept="image/*" required><br>
        <input type="file" id="file" name="file" accept="*" required><br>
        <button type="submit">Upload</button><br>
    </form>

    <div id="result" style="display: none;">
        <p>Upload successful!</p>
    </div>

    <script>
        async function calculateFactorial() 
        {
            const number = document.getElementById('number').value;

            const response = await fetch('/factorial',
                {
                    method: 'POST',
                    headers:
                    {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ number })
                });

            if (response.status == 200) 
            {
                const result = await response.json();
                document.getElementById('output').innerText = 'Factorial : ' + result.factorial;
            } 
            else 
            {
                const result = await response.json();
                document.getElementById('output').innerText = 'Error : ' + result.error;
            }
        }




        document.getElementById('upload-form').addEventListener('submit', function (event) {
            event.preventDefault();

            const formData = new FormData();
            formData.append('image', document.getElementById('image').files[0]);
            formData.append('file', document.getElementById('file').files[0]);

            
            fetch('/upload', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data); // Handle the server's response
                    document.getElementById('result').style.display = 'block';
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while uploading the files.');
                });
        });
    </script>
</body>

</html>